{% extends 'base.html' %}

{% block title %} About {% endblock %}

{%block head%} 

<link rel="stylesheet" href="/static/css/About.css">

{% endblock %}

{% block content%}
    <!-- Heading -->
        <h2 class="heading" data-i18n="about.heading">About us</h2>
    <!-- About Us -->
        <p class="about-us-p" data-i18n="about.about_p">
        Where Ambition Meets Performance! Born from our passion for empowering athletes, 
        we provide top-quality supplements to fuel your journey. Success isn’t just about talent—it’s about
        discipline, dedication, and the right support. Our science-backed products help you train harder,
        recover faster, and perform at your best. Gear up with us and take your game to the next level!
        </p>
    <!-- Features -->
        <div class="features-container">
        <div class="feature-box">
            <h3 data-i18n="about.free_shipping">Free Shipping</h3>
            <p data-i18n="about.free_shipping_desc">On All Orders Over 1500 EGP</p>
        </div>
        <div class="feature-box">
            <h3 data-i18n="about.easy_returns">Easy Returns</h3>
            <p data-i18n="about.easy_returns_desc">14 Day Returns Policy</p>
        </div>
        <div class="feature-box">
            <h3 data-i18n="about.secure_payment">Secure Payment</h3>
            <p data-i18n="about.secure_payment_desc">100% Secure Guarantee</p>
        </div>
        <div class="feature-box">
            <h3 data-i18n="about.special_support">Special Support</h3>
            <p data-i18n="about.special_support_desc">24/7 Dedicated Support</p>
        </div>
        </div>
{%endblock%}