{% extends 'base.html' %}

{% block title %} About {% endblock %}

{%block head%} 

<link rel="stylesheet" href="/static/css/About.css">

{% endblock %}

{% block content%}
    <!-- Heading -->
        <h2 class="heading">About us</h2>
    <!-- About Us -->
        <p class="about-us-p">
        Where Ambition Meets Performance! Born from our passion for empowering athletes, 
        we provide top-quality supplements to fuel your journey. Success isn’t just about talent—it’s about
        discipline, dedication, and the right support. Our science-backed products help you train harder,
        recover faster, and perform at your best. Gear up with us and take your game to the next level!
        </p>
    <!-- Features -->
        <div class="features-container">
        <div class="feature-box">
            <h3>Free Shipping</h3>
            <p>On All Orders Over 1500 EGP</p>
        </div>
        <div class="feature-box">
            <h3>Easy Returns</h3>
            <p>14 Day Returns Policy</p>
        </div>
        <div class="feature-box">
            <h3>Secure Payment</h3>
            <p>100% Secure Guarantee</p>
        </div>
        <div class="feature-box">
            <h3>Special Support</h3>
            <p>24/7 Dedicated Support</p>
        </div>
        </div>
{%endblock%}