{% extends 'base.html' %}

{% block title %} Edit Review {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Cart.css') }}">
{% endblock %}

{% block content %}

<!-- Edit Review Section -->
<div class="container my-5">
    <h3>Edit Your Review</h3>
    <form method="POST">
      {{ form.csrf_token }}
<!-- Review Title -->
      <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class_="form-control") }}
        {% for error in form.title.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

<!-- Review Content -->
      <div class="form-group mt-2">
        {{ form.content.label }}
        {{ form.content(class_="form-control", rows="3") }}
        {% for error in form.content.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

<!-- Submit Button -->
      <div class="form-group mt-2">
        {{ form.submit(class_="btn btn-primary") }}
        <a href="{{ url_for('Reviews.reviews') }}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
</div>

{% endblock %}