.signup-page-title{
    font-family: Arial;
    font-style: italic;
    text-align: center;
    color: rgb(0, 10, 196);
    margin-top: 45px;
    font-weight: bold;
    }

    .footer {
        text-align: center;
    }