{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{%block head%}

<link rel="stylesheet" href="/static/css/home.css">

{% endblock %}

{% block content%}

    <h1 class="Home-Title">Welome to our Home page</h1>

    <div class="maindifferencediv">
      <div class="features">
          <div class="feature">
              <h3><span class="brand">Prime</span> | Pure Effective Ingredients</h3>
              <p>Lab Tested & Certified</p>
          </div>
          <div class="feature">
            <h3><span class="brand">Prime</span> | Comprehensive Formulas</h3>
            <p>Packed with Proven Ingredients</p>
        </div>
        <div class="feature">
            <h3><span class="brand">Prime</span> | No Filler Ingredients</h3>
            <p>Just Pure Effective Ingredients</p>
        </div>
        <div class="feature">
            <h3> <span class="brand">Prime</span> | Backed by Doctors</h3>
            <p>Trusted By Medical Professionals</p>
        </div>
      </div>
  </div>
<div class = "Pre-last-container">
  <div class ="NewsLetter-container">
    <div class="Main-Title">
      <h1 class="Main-Title">Newsletter</h1>
    </div>
      <div class="description">
        <p class="description">
          Subscribe for store updates and discounts.
        </p>
      </div>
      <div class="last-row">
      <div class="enter-email">
        <input type="email" placeholder="Email address" class="emailme" required>
      </div>
      <div class="newsletter-btn">
        <button type="submit" class="subscribe">Subscribe</button>
    </div>
  </div>
  </div>
</div>

{%endblock%}